/*
 * Copyright (c) 2018 Nordic Semiconductor ASA
 * Copyright (c) 2017 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>

/ {
	model = "AramCon Badge";
	compatible = "aramcon,badge", "nordic,nrf52840-qiaa",
		     "nordic,nrf52840";

	chosen {
		zephyr,console = &usb_cdc;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		led0_red: led_0 {
			gpios = <&gpio1 11 GPIO_INT_ACTIVE_LOW>;
			label = "LED 0";
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		key_right: button_0 {
			gpios = <&gpio0 31 GPIO_PUD_PULL_UP>;
			label = "Right key";
		};
		key_middle: button_1 {
			gpios = <&gpio0 29 GPIO_PUD_PULL_UP>;
			label = "Middle key";
		};
		key_left: button_2 {
			gpios = <&gpio0 2 GPIO_PUD_PULL_UP>;
			label = "Left key";
		};
	};

	/* These aliases are provided for compatibility with samples */
	aliases {
		led0 = &led0_red;
		sw0 = &key_right;
		sw1 = &key_middle;
		sw2 = &key_left;
	};
};

&adc {
	status = "ok";
};

&gpiote {
	status = "ok";
};

&gpio0 {
	status = "ok";
};

&gpio1 {
	status = "ok";
};

&i2c0 {
	status = "ok";
	sda-pin = <3>;
	scl-pin = <28>;

	lis2dh@18 {
		compatible = "st,lis2dh";
		reg = <0x18>;
		label = "LIS2DH";
		irq-gpios = <&gpio0 10 0>;
	};
};

&spi0 {
	status = "ok";
	sck-pin = <1>;
	mosi-pin = <42>;
	miso-pin = <41>;
	cs-gpios = <&gpio0 7 0>;

	il0373@0 {
		compatible = "gd,il0373", "gd,gdew029t5";
		label = "DISPLAY";
		spi-max-frequency = <4000000>;
		reg = <0>;
		width = <296>;
		height = <128>;
		pp-width-bits = <8>;
		pp-height-bits = <16>;
		reset-gpios = <&gpio0 6 0>;
		dc-gpios = <&gpio0 12 0>;
		busy-gpios = <&gpio0 26 0>;
		gdv-a = <0x10>;
		gdv-b = <0x0a>;
		sdv = <0x19>;
		vcom = <0xa8>;
		softstart-1 = <0xd7>;
		softstart-2 = <0xd6>;
		softstart-3 = <0x9d>;
		border-waveform = <0x71>;
		orientation-flipped = <1>;
	};
};

&spi1 {
	status = "ok";
	sck-pin = <15>;
	mosi-pin = <8>;
	miso-pin = <9>;

	ws2812@0 {
		compatible = "worldsemi,ws2812";
		reg = <0>;
		spi-max-frequency = <5250000>;
		label = "WS2812";
	};
};

/* Include flash partition table.
 * Two partition tables are available:
 * fstab-stock		-compatible with Nordic nRF5 bootloader, default
 * fstab-debugger	-to use an external debugger, w/o the nRF5 bootloader
 */
#include "fstab-stock.dts"

&usbd {
	compatible = "nordic,nrf-usbd";
	status = "ok";
};
