/*
 * Copyright (c) 2018 Nordic Semiconductor ASA
 * Copyright (c) 2017 Linaro Limited
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;
#include <nordic/nrf52840_qiaa.dtsi>

/ {
	model = "AramCon Badge";
	compatible = "aramcon,badge", "nordic,nrf52840-qiaa",
		     "nordic,nrf52840";

	chosen {
		zephyr,console = &usb_cdc;
		zephyr,shell-uart = &uart0;
		zephyr,uart-mcumgr = &uart0;
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
	};

	leds {
		compatible = "gpio-leds";
		led0_green: led_0 {
			gpios = <&gpio1 11 GPIO_INT_ACTIVE_LOW>;
			label = "LED 0";
		};
	};

	buttons {
	};

	/* These aliases are provided for compatibility with samples */
	aliases {
		led0 = &led0_green;
	};
};

&gpiote {
	status ="ok";
};

&gpio0 {
	status ="ok";
};

&gpio1 {
	status ="ok";
};

&uart0 {
	compatible = "nordic,nrf-uarte";
	current-speed = <115200>;
	status = "ok";
	tx-pin = <20>;
	rx-pin = <24>;
	rts-pin = <17>;
	cts-pin = <22>;
};

&i2c0 {
	status = "ok";
	sda-pin = <26>;
	scl-pin = <27>;
};

&spi0 {
	status = "ok";
	sck-pin = <1>;
	mosi-pin = <42>;
	miso-pin = <41>;
};

&spi1 {
	status = "ok";
	sck-pin = <2>;
	mosi-pin = <8>;
	miso-pin = <12>;

	ws2812@0 {
		compatible = "worldsemi,ws2812";
		reg = <0>;
		spi-max-frequency = <5250000>;
		label = "WS2812";
	};
};

/* Include flash partition table.
 * Two partition tables are available:
 * fstab-stock		-compatible with Nordic nRF5 bootloader, default
 * fstab-debugger	-to use an external debugger, w/o the nRF5 bootloader
 */
#include "fstab-stock.dts"

&usbd {
	compatible = "nordic,nrf-usbd";
	status = "ok";
};
